{% extends 'baseSocle.html' %} 
 {% load crispy_forms_tags %} 
 {% load static %}
{% load bootstrap3 %}
 {% bootstrap_css %}
{% bootstrap_javascript jquery='full' %} 
 {{ formset.media }}
{{ facture_form }} 
{%  load  formset_tags  %}  

{% block content%}


<body>

	<div class="container">

		<ol class="breadcrumb">
			<li><a href="/">Accueil</a></li>
			<li class="active">Création Facture</li>
		</ol>

		<div > <!-- class="row enlevé-->
				<header class="page-header">
					<h1 class="page-title"></h1>
                    <h1>CREER / EDITER / MODIFIER UNE FACTURE</h1>
				</header>

                    <br>
					<br>
					
				<div>	
				<form method="post">
					{% csrf_token %}
					<!--FORMULAIRE DE LA FACTURE-->
					{% bootstrap_form form %}
					
					
					
					<h4>PRESTATIONS:</h4>
					<div class="input-group">
                        <div id="supp_form" >
                            <div id="formset" >
								{{ formset }}
									
                            </div>
                        </div>
					</div>
					<div class="input-group-append">
						<button type="button" class="btn btn-dark data-formset_add">+</button>
						<input type="button" value="Add another" data-formset-add>

						<script type="form-template" data-formset-empty-form>
							{% escapescript %}
								<div data-formset-form>
									{{ formset.empty_form }}
									<button type="button" data-formset-delete-button>Delete form</button>
								</div>
							{% endescapescript %}
						</script>
					
						<!-- This button will add a new form when clicked -->
						<input type="button" value="Add another" data-formset-add>
					
						<script>jQuery(function($) {
							$("#formset").formset({
								animateForms: true
							});
						});</script>
							
					</div>
					
					</div>

                   

				
					
					<p>&nbsp;</p>


					<div class="col-lg-4 text-right">
						<button class="btn btn-action" type="submit">Valider</button><br><br><br>
					</div>
				
				</form>

				
					<div class="col-lg-4 text-right">
						<a class="dropdown-item text-center" href="/facture_list/"><button class="btn btn-default" type="submit">Annuler</button>
					</div>
					<div class="col-lg-4 text-right">
						<a class="dropdown-item text-center" href="/"><button class="btn btn-default" type="submit">Accueil</button>
					</div>	
				</div>

				
		</div>
	</div>

</body>
	{% endblock content%}
	

   



    <script type="text/javascript"  src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script type="text/javascript" src="mysite/accueil/static/js/clone.js"></script>

	<script src="{{ STATIC_URL }}js/jquery.js"></script>
	<script src="{{ STATIC_URL }}js/jquery.formset.js"></script>
	


	</html>